//AngularJS
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload-shim.js')
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-sanitize/angular-sanitize.js')
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')


//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/checklist-model/checklist-model.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='/lib/textAngular/textAngular.min.js')

//Application Init
script(type='text/javascript', src='/js/appadmin.js')
script(type='text/javascript', src='/js/configadmin.js')
script(type='text/javascript', src='/js/directivesadmin.js')
script(type='text/javascript', src='/js/filtersadmin.js')

//Application Services
script(type='text/javascript', src='/js/services/globaladmin.js')
script(type='text/javascript', src='/js/services/categoriesadmin.js')
script(type='text/javascript', src='/js/services/articlesadmin.js')
script(type='text/javascript', src='/js/services/tagsadmin.js')
script(type='text/javascript', src='/js/services/infosadmin.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/categoriesadmin.js')
script(type='text/javascript', src='/js/controllers/articlesadmin.js')
script(type='text/javascript', src='/js/controllers/tagsadmin.js')
script(type='text/javascript', src='/js/controllers/infosadmin.js')
script(type='text/javascript', src='/js/controllers/indexadmin.js')
script(type='text/javascript', src='/js/controllers/headeradmin.js')
script(type='text/javascript', src='/js/initadmin.js')